@import url("photographer.css");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,700&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}
h4 {
  margin: 0;
}
.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
  margin: 0;
  margin-top: 1em;
}
.photographer_section article h3 {
  color: #901c1c;
  font-size: 18px;
  margin: 0.5em 0;
  font-weight: 400;
}
.photographer_section article h4 {
  color: #000;
  font-size: 16px;
  margin: 0;
  font-weight: 400;
}
.photographer_section article p {
  color: #757575;
  font-size: 14px;
  margin: 0.6em;
  font-weight: 400;
}
.photographer_section article a {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.photographer_section article a img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.photographer_section {
  pointer-events: all;
}

