$tablet: 780px;
$mobile: 560px;

.logo {
  @media (max-width: $mobile) {
    height: 1.6rem;
    margin: 1rem auto;
  }
}
.container {
  margin: 0 auto;
  padding: 5rem;
  @media (max-width: $mobile) {
    padding: 0;
  }
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem;
  @media (max-width: $mobile) {
    flex-direction: column-reverse;
    padding: 3rem 0.5rem;
    gap: 2.5rem;
    margin: 0;
  }

  .right {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    overflow: hidden;
    @media (max-width: $mobile) {
      width: 10rem;
      height: 10rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .left {
    .name {
      color: #d3573c;
      font-size: 64px;
      font-weight: 400;
      margin: 0;
      @media (max-width: $mobile) {
        font-size: 3rem;
        text-align: center;
      }
    }
    .city {
      color: #901c1c;
      font-size: 24px;
      font-weight: 400;
      @media (max-width: $mobile) {
        text-align: center;
      }
    }
    .tag {
      color: #525252;
      font-size: 18px;
      font-weight: 400;
      @media (max-width: $mobile) {
        text-align: center;
      }
    }
  }
}

.galleryBox {
  display: none;

  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  position: fixed;
  flex-direction: row;
  // display: none;
  z-index: 1000;
  .galleryBox-Wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 35rem;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // overflow: hidden;
    button {
      padding: 1rem;
      width: 4.5rem;
      margin: 0 3rem;
      .arrowLeft {
        cursor: pointer;
        z-index: 1000;
        width: 100%;
        //
        @media (max-width: $mobile) {
          margin: 0 0.3rem;
          width: 1.5rem;
          padding: 0.1rem;
        }
      }
      .arrowRight {
        cursor: pointer;
        z-index: 1000;
        width: 100%;

        @media (max-width: $mobile) {
          margin: 0 0.3rem;
          width: 1.5rem;
          padding: 0.1rem;
        }
      }
    }

    .gallery {
      // max-width: 55rem;
      height: 80vh;
      // width: auto;
      max-width: 50rem;
      display: flex;
      flex-direction: column;

      // overflow: hidden;
      .media-box_contentbox_title {
        font-size: 1.35rem;
        color: #901c1c;
        z-index: 200;
        // transform: translateY(2rem);
        display: block;
        margin: 0;
        text-align: center;
        transform: translateY(-1.6rem);
      }
      .gallery_media-box {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;

        img {
          height: 90%;
          width: 100%;
          object-fit: contain;
          // margin-bottom: 3rem;
          display: block;
        }
        video {
          // height: 100%;
          width: 100%;
          transform: translateY(6rem);

          @media (max-width: $mobile) {
            transform: translateY(0);
          }
        }
      }

      @media (max-width: $mobile) {
        height: auto;
        width: 100%;
      }

      .photoBox {
        height: 100%;
        width: 100%;
        overflow: hidden;
      }
      .galleryPhoto {
        height: 35rem;
        width: 35rem;
        object-fit: cover;
        margin: 0 auto;
      }
      .galleryVideo {
        height: 100%;
        width: 100%;
      }
      .galleryPhotoHide {
        // transition: all 0.5s ease;
        transform: translateX(-100%);
      }

      .galleryVideoAppear {
        opacity: 1;
        width: 100%;
        transform: translate(0, -140%);

        // transition: transform 1s ease;
      }
    }
  }
  .closeBtn {
    position: absolute;
    top: 3rem;
    right: 3.5rem;
    .close {
      height: 2.5rem;
      width: 2.5rem;
      z-index: 500;
      cursor: pointer;
      @media (max-width: $mobile) {
        width: 2rem;
      }
    }
  }
}

.media_section {
  &_title {
    margin: 5rem 0 1rem 0;
    font-size: 1.5rem;
    @media (max-width: $mobile) {
      margin-left: 1rem;
      margin-bottom: 0;
    }
  }
  @media (max-width: $mobile) {
    padding: 2rem 0.8rem;
  }
  select.sort-list {
    appearance: none;
    background-image: url("../../assets/icons/sort-closed.svg");
    background-position: calc(100% - 1rem);
    background-size: 0.8rem;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    margin-bottom: 1rem;

    padding: 1rem;
    background-color: #901c1c;
    color: #fff;
    list-style: none;
    border-radius: 5px;
    flex-wrap: nowrap;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: left;
    width: 9.5rem;
    height: 3.5rem;
    transition: height 0.5s ease-in-out;
    @media (max-width: $mobile) {
      margin-left: 1rem;
    }

    &:focus {
      background-image: url("../../assets/icons/sort-opened.svg");
      background-position: calc(100% - 1rem);
      background-size: 0.8rem;
      background-repeat: no-repeat;
    }
  }
  .photos_container_box {
    display: grid;
    grid-template-columns: auto auto auto;
    @media (max-width: $mobile) {
      grid-template-columns: auto;
      gap: 8.5rem;
    }
    gap: 6rem;

    .media-box {
      width: 22.4rem;
      height: 22.4rem;
      cursor: pointer;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (max-width: $mobile) {
        width: 100%;
      }
      .video {
        width: 100%;
        height: 100%;
      }
      .contentbox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 5000;
        align-items: center;
        margin-top: 0.5rem;
        .media-box_contentbox_title {
          font-size: 1.35rem;
          color: #901c1c;
          margin: 0;
          text-align: left;
        }

        .likebox {
          display: flex;
          flex-direction: row;
          gap: 0.3rem;
          color: #901c1c;
          font-size: 1.5rem;
          align-items: center;
          height: 1.5rem;
        }
      }
      button {
        height: 22.4rem;
        width: 22.4rem;
        cursor: pointer;
        overflow: hidden;
        padding: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32rem;
  overflow: hidden;
  overflow-y: scroll;
  @media (max-width: $mobile) {
    width: 80vw;
  }
  header {
    h2 {
      text-overflow: clip;
      text-align: left;
      margin: 0;
      @media (max-width: $mobile) {
        font-size: 2em;
      }
    }
    img {
      width: 2rem;
      @media (max-width: $mobile) {
        width: 1.8rem;
      }
    }
  }
  .form-first-name {
    margin-top: 2.5rem;
    @media (max-width: $mobile) {
      margin-top: 2rem;
    }
  }
}

button {
  border: none;
  background: none;
}
